<% layout('layoutDesktop') -%>
<div class="wrap wrap_main_content">
    <div class="inner-wrap select_cat_of_news">
        <div class="btns_block">
            <div class="btn_select_cat_news active_btn_select_cat_news">
                    Top
            </div>				
            <div class="btn_select_cat_news">
                    Recent
            </div>				
            <div class="btn_select_cat_news">
                    Opinions
            </div>
        </div>			
    </div>
    <div class="inner-wrap news_block_half_size">
        <div class="new_half_size">
            <a href="here_place_url_to_article">
                <div class="img_half_size_news" style="background-image: url('img/news1.jpg');">						
                </div>	
                <div class="title_news">
                        Families affected by road construction to receive compensation »
                </div>
            </a>
            <div class="time_autor_of_article">
                21 minutes ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
            </div>
        </div>
        <div class="new_half_size">
            <a href="here_place_url_to_article">
                <div class="img_half_size_news" style="background-image: url('img/news2.jpg');">						
                </div>	
                <div class="title_news">
                        Ujenzi wa barabara katika shamba la Waitiki kuhamisha baadhi ya wakazi »
                </div>
            </a>

            <div class="time_autor_of_article">
                52 minutes ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
            </div>
        </div>					
    </div>
    <div class="inner-wrap three_line_news_block">
        <div class="middle_news_block">
            <a href="here_put_the_url_for_the_article">
                    <div class="img_middle_size_news" style="background-image: url('img/news3.jpg');">
                    </div>
                    <div class="title_news title_for_middle_size_news">
                            Police urged to inspect traders to nab those indulging in illegal businesses along Lamu »
                    </div>
            </a>

            <div class="time_autor_of_article">
                    1 hour ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
            </div>				
        </div>
        <div class="middle_news_block">
            <a href="here_put_the_url_for_the_article">
                    <div class="img_middle_size_news" style="background-image: url('img/news4.jpg');">
                    </div>
                    <div class="title_news title_for_middle_size_news">
                            Families affected by road construction to receive compensation »
                    </div>
            </a>
            <div class="time_autor_of_article">
                    1 hour ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
            </div>				
        </div>

        <div class="middle_news_block">
            <a href="here_put_the_url_for_the_article">
                    <div class="img_middle_size_news" style="background-image: url('img/news5.jpg');">
                    </div>
                    <div class="title_news title_for_middle_size_news">
                            Wabunge wa Pwani wamtetea Swazuri »
                    </div>
            </a>
            <div class="time_autor_of_article">
                    1 hour ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
            </div>				
        </div>
    </div>
    <div class="inner-wrap three_line_news_block">
        <div class="middle_news_block">
                <a href="here_put_the_url_for_the_article">
                        <div class="img_middle_size_news" style="background-image: url('img/news3.jpg');">
                        </div>
                        <div class="title_news title_for_middle_size_news">
                                Police urged to inspect traders to nab those indulging in illegal businesses along Lamu »
                        </div>
                </a>

                <div class="time_autor_of_article">
                        1 hour ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
                </div>				
        </div>

        <div class="middle_news_block">
                <a href="here_put_the_url_for_the_article">
                        <div class="img_middle_size_news" style="background-image: url('img/news4.jpg');">
                        </div>
                        <div class="title_news title_for_middle_size_news">
                                Families affected by road construction to receive compensation »
                        </div>
                </a>

                <div class="time_autor_of_article">
                        1 hour ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
                </div>				
        </div>

        <div class="middle_news_block">
                <a href="here_put_the_url_for_the_article">
                        <div class="img_middle_size_news" style="background-image: url('img/news5.jpg');">
                        </div>
                        <div class="title_news title_for_middle_size_news">
                                Wabunge wa Pwani wamtetea Swazuri »
                        </div>
                </a>

                <div class="time_autor_of_article">
                        1 hour ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
                </div>				
        </div>
    </div>
    <div class="inner-wrap all_news_blue_text">
        <a href="here_put_url_for_all_news" class="all_news_link">
                All news »
        </a>
    </div>
    <div class="inner-wrap block_with_extra_info_on_left_side">
            <div class="news_on_the_right_block">
                    <div class="title_recent_news">
                            Recent
                    </div>

                    <div class="three_line_news_block">
                            <div class="middle_news_block">
                                    <a href="here_put_the_url_for_the_article">
                                            <div class="img_middle_size_news" style="background-image: url('img/news3.jpg');">
                                            </div>
                                            <div class="title_news title_for_middle_size_news">
                                                    Wabunge wa Pwani wamtetea Swazuri »
                                            </div>
                                    </a>

                                    <div class="time_autor_of_article">
                                            1 hour ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
                                    </div>				
                            </div>

                            <div class="middle_news_block">
                                    <a href="here_put_the_url_for_the_article">
                                            <div class="img_middle_size_news" style="background-image: url('img/news4.jpg');">
                                            </div>
                                            <div class="title_news title_for_middle_size_news">
                                                    Families affected by road construction to receive compensation »
                                            </div>
                                    </a>

                                    <div class="time_autor_of_article">
                                            1 hour ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
                                    </div>				
                            </div>	

                            <div class="middle_news_block">
                                    <a href="here_put_the_url_for_the_article">
                                            <div class="img_middle_size_news" style="background-image: url('img/news4.jpg');">
                                            </div>
                                            <div class="title_news title_for_middle_size_news">
                                                    Families affected by road construction to receive compensation »
                                            </div>
                                    </a>

                                    <div class="time_autor_of_article">
                                            1 hour ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
                                    </div>				
                            </div>			
                    </div>

                    <div class="three_line_news_block">
                            <div class="middle_news_block">
                                    <a href="here_put_the_url_for_the_article">
                                            <div class="img_middle_size_news" style="background-image: url('img/news9.jpg');">
                                            </div>
                                            <div class="title_news title_for_middle_size_news">
                                                    Ujenzi wa barabara katika shamba la Waitiki kuhamisha baadhi ya wakazi »
                                            </div>
                                    </a>

                                    <div class="time_autor_of_article">
                                            1 hour ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
                                    </div>				
                            </div>

                            <div class="middle_news_block">
                                    <a href="here_put_the_url_for_the_article">
                                            <div class="img_middle_size_news" style="background-image: url('img/news8.jpg');">
                                            </div>
                                            <div class="title_news title_for_middle_size_news">
                                                    Tuktuk moja yasakwa mjini Mombasa baada ya kuhusishwa na uhalifu »
                                            </div>
                                    </a>

                                    <div class="time_autor_of_article">
                                            1 hour ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
                                    </div>				
                            </div>		

                            <div class="middle_news_block">
                                    <a href="here_put_the_url_for_the_article">
                                            <div class="img_middle_size_news" style="background-image: url('img/news8.jpg');">
                                            </div>
                                            <div class="title_news title_for_middle_size_news">
                                                    Tuktuk moja yasakwa mjini Mombasa baada ya kuhusishwa na uhalifu »
                                            </div>
                                    </a>

                                    <div class="time_autor_of_article">
                                            1 hour ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
                                    </div>				
                            </div>			
                    </div>

                    <div class="three_line_news_block">
                            <div class="middle_news_block">
                                    <a href="here_put_the_url_for_the_article">
                                            <div class="img_middle_size_news" style="background-image: url('img/news11.jpg');">
                                            </div>
                                            <div class="title_news title_for_middle_size_news">
                                                    Ujenzi wa barabara katika shamba la Waitiki kuhamisha baadhi ya wakazi »
                                            </div>
                                    </a>

                                    <div class="time_autor_of_article">
                                            1 hour ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
                                    </div>				
                            </div>

                            <div class="middle_news_block">
                                    <a href="here_put_the_url_for_the_article">
                                            <div class="img_middle_size_news" style="background-image: url('img/news6.jpg');">
                                            </div>
                                            <div class="title_news title_for_middle_size_news">
                                                    Families affected by road construction to receive compensation »
                                            </div>
                                    </a>

                                    <div class="time_autor_of_article">
                                            1 hour ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
                                    </div>				
                            </div>	

                            <div class="middle_news_block">
                                    <a href="here_put_the_url_for_the_article">
                                            <div class="img_middle_size_news" style="background-image: url('img/news6.jpg');">
                                            </div>
                                            <div class="title_news title_for_middle_size_news">
                                                    Families affected by road construction to receive compensation »
                                            </div>
                                    </a>

                                    <div class="time_autor_of_article">
                                            1 hour ago, By <a class="author_name" href="here_place_link_to_author">Osman Suleiman</a>
                                    </div>				
                            </div>			
                    </div>	


                    <div class="full_size_news_on_right">
                            <div class="title_full_size_news_on_right">
                                    Politics
                            </div>
                            <div class="body_full_size_news_on_right">
                                    <a href="">
                                            <div class="one_news_small_news">
                                                    <div class="img_small_news" style="background: url('img/news12.jpg');">
                                                    </div>
                                                    <div class="small_news_info">
                                                            <div class="date_small_news">
                                                                    30 Nov 3:43 PM
                                                            </div>
                                                            <div class="title_small_news">
                                                                    Police urged to inspect traders to nab those indulging in illegal businesses along Lamu »
                                                            </div>
                                                    </div>
                                            </div>
                                    </a>

                                    <a href="">
                                            <div class="one_news_small_news">
                                                    <div class="img_small_news" style="background: url('img/news12.jpg');">
                                                    </div>
                                                    <div class="small_news_info">
                                                            <div class="date_small_news">
                                                                    30 Nov 3:43 PM
                                                            </div>
                                                            <div class="title_small_news">
                                                                    Mwanamume afikishwa mahakamani kwa madai ya kuiba Sh487,000 »
                                                            </div>
                                                    </div>
                                            </div>
                                    </a>


                                    <a href="">
                                            <div class="text_all_politics">
                                                    All Politics »
                                            </div>
                                    </a>

                            </div>
                    </div>		


                    <div class="full_size_news_on_right">
                            <div class="title_full_size_news_on_right">
                                    Business
                            </div>
                            <div class="body_full_size_news_on_right">

                                    <a href="">
                                            <div class="one_news_small_news">
                                                    <div class="img_small_news" style="background: url('img/news12.jpg');">
                                                    </div>
                                                    <div class="small_news_info">
                                                            <div class="date_small_news">
                                                                    30 Nov 3:43 PM
                                                            </div>
                                                            <div class="title_small_news">
                                                                    Police urged to inspect traders to nab those indulging in illegal businesses along Lamu »
                                                            </div>
                                                    </div>
                                            </div>
                                    </a>


                                    <a href="">
                                            <div class="one_news_small_news">
                                                    <div class="img_small_news" style="background: url('img/news12.jpg');">
                                                    </div>
                                                    <div class="small_news_info">
                                                            <div class="date_small_news">
                                                                    30 Nov 3:43 PM
                                                            </div>
                                                            <div class="title_small_news">
                                                                    Mwanamume afikishwa mahakamani kwa madai ya kuiba Sh487,000 »
                                                            </div>
                                                    </div>
                                            </div>
                                    </a>

                                    <a href="">
                                            <div class="text_all_politics">
                                                    All Business »
                                            </div>
                                    </a>

                            </div>
                    </div>				

            </div>
    </div>		
</div>