<!DOCTYPE html>
<html lang="en">
<head>
<% include mobile/partial/head.ejs %>
</head>
<body>

<% include mobile/partial/header.ejs %>

<%- body %>

<% include mobile/partial/footer.ejs %>

</body>
</html>
