/* CSS Document *//* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border-image: 0px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a{
    color: rgba(255, 255, 255, 1.00);
    text-decoration: none;
}

option {
    padding: 0;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after, .clear {
    clear: both;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    height: 100%;
    font-family: arial;
    position: relative;
}

.wrap {
    width: 100%;
    min-width: 980px;
    box-sizing: border-box;
}

.default{
	position: auto;
}
.fixed{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
}

#nav_inner_wrap{
	background: #fff;
}

.inner-wrap {
    width: 980px;
    box-sizing: border-box;
    font-family: arial;
    overflow: hidden;
    margin: 0 auto;
}

.bottom_block_with_search{
	border-bottom: 1px solid #dedede;
	display: table;
	position: relative;
}

.search_tool_pad{
	position: absolute;
	background: #f4f4f4;
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	display: none;
}

.search_tool_pad_active{
	display: block;
}

.search_input{
	padding: 12px;
	text-transform: uppercase;
	font-size: 14px;
	color: #cccccc;
	font-weight: 600;
	display: inline-block;
	width: 660px;
}

.btn_search_active{
	background: #f4f4f4;
	border-bottom: 0px solid black;
}

#btn_search_on_phrase{
	cursor: pointer;
}

.search_input:focus{
	outline: none;
}

input  {
	border: #104060 1px solid;
}

.btn_go_search{
	padding: 12px;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	display: inline-block;
	background: #104060;
	width: 260px;
	margin-left: 15px;
	border: none;
}

.btn_go_search:focus{
	outline: none;
}


.logo{
	padding-top: 12px;
    padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	border-right: 1px #dedede solid;
	border-left: 1px #dedede solid;	
	display: table-cell;
	width: 160px;
}

.dropdown{
	display: table-cell;
	vertical-align: middle;
}

select {
    background-color: white;
    border-radius: 0;
    display: inline-block;
    font: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:focus{
	outline: none;
}

.dropdown_list{
    font-size: 14px;
    font-family: Arial;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px #dedede solid;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.8em) 0em;
    background-size: 5px 5px, 5px 5px, 1px 3em;
    background-repeat: no-repeat;	
	margin-left: 15px;
}

.btn_search{
	display: table-cell;
	vertical-align: middle;
	color: #196294;
	font-size: 25px;
	border-right: 1px #dedede solid;
	border-left: 1px #dedede solid;	
	text-align: center;
	width: 55px;	
}

.btn_write_for_us{
	display: table-cell;
	vertical-align: middle;
	color: #ed531c;
	font-size: 14px;
	border-right: 1px #dedede solid;
	text-align: center;	
	font-weight: 600;
	text-transform: uppercase;
}

.btn_login{
	display: table-cell;
	vertical-align: middle;
	color: #196294;
	font-size: 14px;
	border-right: 1px #dedede solid;
	text-align: center;	
	font-weight: 600;
	text-transform: uppercase;
}

.news_name_and_date{
	background: #196294;
	border-bottom: 1px solid #5389af;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

.name_news_blue_color{
	color: #6dcff6;
}

.news_name{
	font-size: 24px;
	font-weight: 600;
	display: inline-block;
        text-transform: capitalize;
}

.todays_date{
	float: right;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 6px;
}

.wrap_nav_topics{
	background: #196294;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav_item{
	display: inline-block;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	margin-right: 18px;
	cursor: pointer;
}

.wrap_main_content{
	background: #f4f4f4;
	padding-top: 20px;
}

.select_cat_of_news{
	border-bottom: 2px solid #ed531c; 
	font-size: 0px;
}

.btn_select_cat_news{
	display: inline-block;
	text-transform: uppercase;
	color: #444444;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	background: #e4e4e4;
	width: 110px;
	padding-bottom: 10px;
	padding-top: 10px;	
	cursor: pointer;
}

.btn_select_cat_news:not(:last-child){
	margin-right: 2px; 	
}

.active_btn_select_cat_news{
	background: #ed531c;
	color: #fff;
}

.btns_block{
	width: 336px;
	margin: auto;
}

.news_block_half_size{
	margin-top: 40px;
	font-size: 0px;
}

.new_half_size{
	display: inline-block;
	background: #fff;
	width: 470px;	
}

.img_half_size_news{
	height: 240px;
	min-width: 100%;
	background-repeat: no-repeat;	
    background-size: cover;
    background-position: center;
	border-bottom: 2px #6dcff6 solid;	
}

.new_half_size:not(:last-child){
	margin-right: 40px;
}

.title_news{
	color: #444444;
	font-size: 22px;
	font-weight: 600;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 0px;
	line-height: 1.2em;
	height: 90px;
}

.time_autor_of_article{
	font-size: 14px;
	color: #808080;
	padding-left: 20px;
	padding-bottom: 20px;
        text-transform: capitalize;
}

.author_name{
	color: #196294;	
}

.three_line_news_block{
	margin-top: 40px;
	font-size: 0px;
	padding-bottom: 40px;	
}

.three_line_news_block:not(:last-child){
	padding-bottom: 0px!important;	
}

.middle_news_block{
	width: 300px;
	display: inline-block;
	background: #fff;
}

.middle_news_block:not(:last-child){
	margin-right: 40px;
}

.img_middle_size_news{
	height: 150px;
	min-width: 100%;
	background-repeat: no-repeat;	
    background-size: cover;
    background-position: center;
	border-bottom: 2px #6dcff6 solid;
}

.title_for_middle_size_news{
	height: 160px;
}

.all_news_blue_text{	
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 40px;
	border-top: 1px #dedede solid;
	margin-top: 40px;
}

.all_news_link{
	color: #196294;
}

.block_with_extra_info_on_left_side{
	font-size: 0px;
}

.extra_left_side_info{
	width: 300px;
	display: inline-block;
	vertical-align: top;
}

.block_top_writer{
	background: #fff;
	border: #5cbd4c 1px solid;
}

.title_block_top_writer{
	background: #5cbd4c;
	padding-top: 11px;
	padding-bottom: 11px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;	
	padding-left: 14px;
	padding-right: 14px;
	text-transform: uppercase;
}

.qual_stories{
	display: inline-block;
	border: 1px #dedede solid;
	margin: 15px;
}

.title_stories{
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	color: #808080;
	padding: 17px;
	border-bottom: 1px #dedede solid;
}

.number_stories{
	font-size: 20px;
	font-weight: 600;
	color: #5cbd4c;
	text-align: center;
	padding: 17px;
}

.info_about_the_author{
	display: inline-block;
}

.name_author{
	font-size: 16px;
	color: #196294;
	font-weight: 600;	
}

.date_registration{
	font-size: 12px;
	color: #808080;
	margin-top: 14px;
}

.stars_rating{
	margin-top: 18px;
}

.star_rate{
	display: inline-block;
	margin-right: 8px;
	width: 19px;
	height: 18px;
}

.star_active{
	background: url('../img/star_act.png') no-repeat;
}

.star_not_active{
	background: url('../img/star_not_act.png') no-repeat;
}

.main_info_author{
	border-bottom: 1px #dedede solid;
}

.text_for_authors{
	font-size: 12px;
	color: #808080;
	padding: 15px;
	line-height: 1.2em;
}

.bnt_write_us{
	margin: 0 15px 15px 15px;
	border: 1px #ed531c solid;
	color: #ed531c;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}

.block_latest_forum_posts{
	margin-top: 40px;
	background: #fff;
	padding-bottom: 1px;
}

.title_ltst_forum_posts{
	font-size: 16px;
	font-weight: 600;
	color: #444444;
	text-transform: uppercase;	
	padding-top: 11px;
	padding-bottom: 11px;	
	padding-left: 14px;
	padding-right: 14px;
	border-bottom: 1px #dedede solid;
}

.name_of_post_author{
	font-size: 12px;
	color: #808080;
	margin-top: 14px;
	padding-left: 14px;
	padding-right: 14px;	
}

.topic_of_the_post{
	padding-left: 14px;
	padding-right: 14px;
	line-height: 1.2em;
	font-weight: 600;
	color: #196294;
	font-size: 20px;
	margin-top: 8px;
}

.reply_box{
	margin: 15px;
	background: #eeeeee;
	padding: 14px;
}

.text_reply{
	font-size: 14px;
	color: #444444;
	line-height: 1.2em;
}

.name_of_replier{
	font-size: 12px;
	color: #808080;
	margin-top: 14px;
	padding-bottom: 14px;
	border-bottom: 1px #dedede solid;
}

.num_comments{
	color: #d54226;
	font-size: 12px;
	margin-top: 12px;
}

.btn_reply{
	border: 1px #cccccc solid;
	background: #fff;
	font-weight: 600;
	font-size: 14px;
	color: #196294;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 13px;	
	text-transform: uppercase;
	cursor: pointer;
}

.events_block{
	margin-top: 40px;
	background: #fff;
	border: #9030b8 1px solid;
}

.title_events_block{
	background: #9030b8;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	padding-top: 11px;
	padding-bottom: 11px;	
	padding-left: 14px;
	padding-right: 14px;
	text-transform: uppercase;
}

.events_body{
	padding-left: 14px;
	padding-right: 14px;
	padding-bottom: 16px;	
}

.one_event{
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: #808080 1px solid;
}

.date_of_event{
	border: #808080 1px solid;	
	display: inline-block;
	width: 88px;
	vertical-align: top;	
}

.month_of_event{
	color: #808080;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	border-bottom: #808080 1px solid;
	padding: 15px;
}

.day_of_event{
	font-size: 20px;
	font-weight: 600;
	color: #9030b8;
	text-align: center;
	padding: 15px;
}

.event_data{
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	width: 165px;
}

.title_event{
	font-size: 16px;
	font-weight: 600;
	color: #196294;
}

.place_event{
	color: #808080;
	font-size: 12px;
	margin-top: 13px;
}

.btn_ads_your_event{
	border: 1px #9030b8 solid;
	font-weight: 600;
	font-size: 14px;
	color: #9030b8;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 13px;	
	text-transform: uppercase; 
	cursor: pointer;
}

.news_on_the_right_block{
	display: inline-block;
	vertical-align: top;
}

.title_recent_news{
	color: #444444;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 12px;
	border-bottom: 1px #dedede solid;
}

.full_size_news_on_right{
	width: 640px;
	background: #fff;
	margin-top: 40px;
}

.title_full_size_news_on_right{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color: #444444;
	padding-top: 11px;
	padding-left: 20px;
	padding-bottom: 11px;
	border-bottom: 1px #dedede solid;
}

.body_full_size_news_on_right{
	padding-left: 20px;
	padding-right: 20px;
}

.img_small_news{
	display: inline-block;
	height: 88px;
	width: 88px;
	background-repeat: no-repeat;	
    background-size: cover;
    background-position: center;
}

.one_news_small_news{
	margin-top: 15px;
	padding-bottom: 14px;
	border-bottom: 1px #dedede solid;
}

.small_news_info{
	display: inline-block;
	margin-left: 15px;
	vertical-align: top;
}

.date_small_news{
	font-size: 14px;
	color: #808080;	
}

.title_small_news{
	font-size: 18px;
	color: #196294;
	font-weight: 600;
	width: 480px;
	margin-top: 12px;
	line-height: 1.2em;
}

.text_all_politics{
	font-size: 16px;
	font-weight: 600;
	color: #196294;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
}

.full_size_news_on_right:last-child{
	margin-bottom: 80px;
}

.wrap_footer{
	background: #196294;
	padding-top: 40px;
	color: #fff;
	padding-bottom: 100px;
}

.little_footer_block{
	display: inline-block;
	font-size: 14px;
	line-height: 1.3em;
	width: 220px;
	vertical-align: top;
}

.title_footer_blocks{
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 600;
}

.btn_write_for_us_footer{
	background: #fff;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color: #ed531c;
	border: 1px #ed531c solid;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 15px;
	cursor: pointer;
}

.bigger_footer_block{
	display: inline-block;
	width: 460px;
	margin-left: 40px;
	vertical-align: top;
}

.footer_nav_item{
	font-size: 16px;
	margin-bottom: 9px;	
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.nav_item_nav{
	position: relative;
}

.li_more{
    position: absolute;
    background: #196294;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
	display: none;
	overflow: visible;
	left: -15px;
}

.li_more_active{
	display: block;
}

.item_li_more{
	line-height: 1.5em;
	padding-left: 15px;
	padding-right: 25px;
}

.item_li_more:hover{
	background: #14527b;
}

.left_block_with_article{
	display: inline-block;
}

.article_content{
	width: 640px;
	background: #fff;
	margin-right: 40px;
	display: inline-block;
}

.article_body{
	padding-left: 20px;
	padding-right: 20px;
}

.topic_article{
	font-size: 16px;
	color: #444444;
	text-transform: uppercase;
	font-weight: 600;
	padding-left: 20px;
	padding-top: 11px;
	padding-bottom: 11px;
	border-bottom: 1px #dedede solid;
}

.title_article{
	color: #444444;
	font-size: 36px;
	font-weight: 600; 
	padding-left: 20px;
	line-height: 1.2em;
	padding-top: 24px;
	padding-bottom: 24px;	
}

.socials_icons{
	font-size: 0;
}

.social_icon{
	display: inline-block;
	width: 33.33%;
	text-align: center;
	color: #fff;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}

#facebook_icon{
	background: #3a589a;
}

#twitter_icon{
	background: #3a96ff;
}

#mail_icon{
	background: #9f9f9f;
}

.place_big_image_article{
	height: 300px;
	min-width: 100%;
	background-repeat: no-repeat;	
    background-size: cover;
    background-position: center;
	margin-top: 20px;
}

.small_text_under_main_picture{
	color: #808080;
	font-size: 14px;
	margin-top: 10px;
}

.text_article{
	color: #444444;
	font-size: 18px;
	line-height: 1.333em;
	margin-top: 40px;
	margin-bottom: 40px;
}

.text_article > p:not(:first-child) {
	margin-top: 30px;
}

.text_report_story{
	padding-top: 18px;
	padding-bottom: 25px;
	color: #d54226;
	font-size: 14px;	
}

.text_report_story:hover{
	font-weight: 600;
}

.more_in_crime_three_text_news_block{
	margin-top: 40px;
	background: #fff;
	width: 640px;
}

.three_text_news_block{
	font-size: 0;
	display: table;
	margin-top: 20px;
	padding-bottom: 25px;
}

.text_news_block{
	width: 33.33%;
	display: table-cell;
	color: #196294;
	font-size: 18px;
	font-weight: 600;
	vertical-align: top;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 1.2em;
}

.text_news_block:not(:last-child){
	border-right: 1px #dedede solid;
}

.text_news_block:active{
	color: #196294;
}

.top_new_narrow_block{
	margin-top: 40px;
	background: #fff;
	margin-bottom: 40px;
}

.tiny_news_info{
	width: 155px;
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
}

.tiny_images_content{
	padding-left: 20px;
    padding-right: 20px;
}

.title_tiny_news{
	font-size: 18px;
    color: #196294;
    font-weight: 600;
    margin-top: 12px;
    line-height: 1.2em;
}

.three_related_news_block{
	font-size: 0;
	display: table;
	margin-top: 20px;
	padding-bottom: 25px;
	padding-left: 10px;
	padding-right: 5px;	
}

.three_related_news_block:not(:last-child){
	border-bottom: 1px #dedede solid;
}

.img_middle_size_article_related{
	height: 150px;
	min-width: 100%;
	background-repeat: no-repeat;	
    background-size: cover;
    background-position: center;
}

.middle_news_block_related_article{
	width: 30%;
	display: table-cell;
	padding-right: 5px;
}

.title_news_related_article{
	color: #444444;
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 0px;
    line-height: 1.2em;
	
}

.read_more_article{
	background: #c3d7f4;
	margin: 24px;
	padding-top: 16px;
	padding-bottom: 16px;	
	text-align: center;
	cursor: pointer;
}

.text_see_also{
	color: #000;
}

.news_title_see_also{
	color: #196294;
}

.btns_moderator{
	display: table;
    padding: 10px;
    width: 100%;
	border-collapse: separate;
	border-spacing: 10px;
}

.btn_moderator{
	display: table-cell;
    padding: 11px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    width: 50%;
	font-weight: 600;
}

.btn_edit{
	background: #3c6f05;
}

.btn_unpublish{
	background: #8b0000;
}

.counters_socials{
	padding-left: 20px;
	padding-right: 20px;
    font-size: 11px;
    line-height: 1.5em;
	color: #666;
}

.social_name{
	margin-top: 10px;
	font-size: 18px;
	font-weight: 600;
	color: #444444;
}

.counter{
	margin-left: 15px;
}

.btn_update_now{
	color: #196297;
	font-size: 14px;
	margin-top: 11px;
	padding-bottom: 20px;
	padding-left: 20px;
	cursor: pointer;
}

.btn_update_now:hover{
	font-weight: 600;
}

.news_topic_section{
    font-size: 22px;
    font-weight: 600;
    color: #444444;
    text-transform: uppercase;
    padding-bottom: 18px;
}

.left_block_bigger_news{
	width: 640px;
    margin-right: 40px;
	display: inline-block;
}

.img_half_size_news_section{
	height: 280px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.new_half_size_section{
	display: inline-block;
    background: #fff;
    width: 100%;
}

.top_new_narrow_block_section{
	background: #fff;
    margin-bottom: 40px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
	font-size: 16px;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #196294;
    color: white;
}

ul.pagination li a:hover:not(.active) {
	background-color: #ddd;
}

div.center {
    text-align: center;
}

div .pagination{
	margin-top: 11px;
}
/*---------------------------------*/
.breadcrumb { 
	list-style: none; 
	overflow: hidden; 
	font-size: 14px;
	margin-bottom: 20px;
}
.breadcrumb li { 
	float: left; 
}
.breadcrumb li a {
	color: white;
	text-decoration: none; 
	padding: 6px 0 6px 50px;
	background: brown;                   /* fallback color */
	background: #196294;
	position: relative; 
	display: block;
	float: left;
}



.breadcrumb li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid #196294;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}

.breadcrumb li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;       
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}

.breadcrumb li:first-child a {
	padding-left: 27px;
}
.breadcrumb li:nth-child(2) a       { background:        #3079ab; }
.breadcrumb li:nth-child(2) a:after { border-left-color: #3079ab; }
.breadcrumb li:nth-child(3) a       { background:        #539ed2; }
.breadcrumb li:nth-child(3) a:after { border-left-color: #539ed2; }
.breadcrumb li:nth-child(4) a       { background:        #76bcec; }
.breadcrumb li:nth-child(4) a:after { border-left-color: #76bcec; }
.breadcrumb li:nth-child(5) a       { background:        hsla(34,85%,75%,1); }
.breadcrumb li:nth-child(5) a:after { border-left-color: hsla(34,85%,75%,1); }
.breadcrumb li:last-child a {
	font-weight: 600;
	pointer-events: none;
	cursor: default;
}

.breadcrumb li a:hover { 
	background: #196294; 
	font-weight: 600;
}

.breadcrumb li a:hover:after { 
	border-left-color: #196294 !important; 
}

