<footer>
    <nav class="footer-nav">
        <ul class="nav text-center">
            <li><a href="http://www.hivisasa.com/docs/write">How to Write</a></li>
            <li><a href="http://www.hivisasa.com/docs/advanced">Advanced Learning</a></li>
            <li><a href="http://www.hivisasa.com/activations">Activations</a></li>
            <li><a href="http://www.hivisasa.com/referrals">Referrals</a></li>
            <li><a href="http://www.hivisasa.com/payments">Payments</a></li>
            <li><a href="http://www.hivisasa.com/terms">Terms and Conditions</a></li>
            <li><a href="http://www.hivisasa.com/faq">FAQ</a></li>
            <li><a href="http://www.hivisasa.com/about">About Us</a></li>
            <li><a href="http://www.hivisasa.com/academy">Academy</a></li>
            <li><a href="http://www.hivisasa.com/contact">Contact Us</a></li>
        </ul>
    </nav>
    <div class="copy-right text-center">
        2016. All RIGHTS RESERVED HIVISASA.COM
    </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

    jQuery(document).ready(function () {

        $('#county_dropdown').on('change', function () {
            var county = jQuery(this).val();
            if (county !== '') {
                var base_url = jQuery('meta[name=base_url]').attr("content");
                window.location = base_url + '/' + county;
            }

        });

        $('.select-county-mobile').on('submit', function (e) {
            e.preventDefault();
            var county = jQuery('#county_dropdown').val();
            if (county !== '') {
                var base_url = jQuery('meta[name=base_url]').attr("content");
                window.location = base_url + '/' + county;
            }

        });

    });

</script>