<!--Top news block-->
<div class="top_new_narrow_block">
        <div class="title_full_size_news_on_right">
                Top News
        </div>
        <div class="tiny_images_content">					
                <a href="">					
                        <div class="one_news_small_news">
                                <div class="img_small_news" style="background: url('img/news12.jpg');">
                                </div>								
                                <div class="tiny_news_info">
                                        <div class="date_small_news">
                                                30 Nov 3:43 PM
                                        </div>
                                        <div class="title_tiny_news">
                                                Police urged to inspect traders to nab those indulging in illegal businesses along Lamu »
                                        </div>
                                </div>								
                        </div>						
                </a>		

                <a href="">					
                        <div class="one_news_small_news">
                                <div class="img_small_news" style="background: url('img/news12.jpg');">
                                </div>								
                                <div class="tiny_news_info">
                                        <div class="date_small_news">
                                                30 Nov 3:43 PM
                                        </div>
                                        <div class="title_tiny_news">
                                                Mwanamume afikishwa mahakamani kwa madai ya kuiba Sh487,000 »
                                        </div>
                                </div>								
                        </div>						
                </a>	

                <a href="">					
                        <div class="one_news_small_news">
                                <div class="img_small_news" style="background: url('img/news12.jpg');">
                                </div>								
                                <div class="tiny_news_info">
                                        <div class="date_small_news">
                                                30 Nov 3:43 PM
                                        </div>
                                        <div class="title_tiny_news">
                                                Families affected by road construction to receive compensation »
                                        </div>
                                </div>								
                        </div>						
                </a>	

                <a href="">					
                        <div class="one_news_small_news">
                                <div class="img_small_news" style="background: url('img/news12.jpg');">
                                </div>								
                                <div class="tiny_news_info">
                                        <div class="date_small_news">
                                                30 Nov 3:43 PM
                                        </div>
                                        <div class="title_tiny_news">
                                                Ujenzi wa barabara katika shamba la Waitiki kuhamisha baadhi ya wakazi »
                                        </div>
                                </div>								
                        </div>						
                </a>	

                <a href="">					
                        <div class="one_news_small_news">
                                <div class="img_small_news" style="background: url('img/news12.jpg');">
                                </div>								
                                <div class="tiny_news_info">
                                        <div class="date_small_news">
                                                30 Nov 3:43 PM
                                        </div>
                                        <div class="title_tiny_news">
                                                Tuktuk moja yasakwa mjini Mombasa baada ya kuhusishwa na uhalifu »
                                        </div>
                                </div>								
                        </div>						
                </a>

                <a href="">
                        <div class="text_all_politics">
                                More news »
                        </div>
                </a>


        </div>
</div>
<!--End of Top News block-->