<% layout('../layout_Mobile') -%>

<div class="container">
    
    <div class="row most-read-row">
        
        <% if(countyDetail.length > 0) {
        for(var i = 0; i< countyDetail.length; i++) { %>
        <div class="post-preview">
            <span class="post-date"><%= moment(countyDetail[i].publish_date).format('D MMM YYYY h:mm A')  %></span>
            <h5 class="post-title">
                <a href="/mobile/article/<%= countyDetail[i].nid %>"><%= countyDetail[i].title %></a>
            </h5>
        </div>
        <% } 
        } else { %>
        <div class="record-not-found">Not Found</div>
        <% } %>
        
    </div>

    <div class="row">


        <a href="?page=2" class="paginator paginator-right">Next</a>
    </div>
</div>
